@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10vh 0 0 0;
    background-color: var(--bgColour);
    font-family: var(--thirdFont);
}

/* :root */

:root {
    --bgColour: #FFF;
    --firstColour: #FFF;
    --secondColour: #000;
    --thirdColour: #C47766;
    --fourthColor: rgba(0, 0, 0, 0.9);
    --fifthColour: #FA845F;
    --sixthColour: #FCD980;
    --seventhColour: #fff8e8;
    --eighthColour: #322B38;
    --ninthColour: #6f00b2;
    --transparent: rgba(0, 0, 0, 0.0);
    --firstFont: Balsamiq Sans, cursive;
    --secondFont: Poppins, sans-serif;
    --thirdFont: sans-serif;
    --changeTheme: url(img/moon.png); 
}

/* Header - Nav*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--thirdColour);
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 1px 10px var(--fourthColor);
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
}

.logo {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 1000ms;
}

.header__nav {
    width: 100%;
    height: 10vh;
    min-width: 10%;
    max-width: 100%;
    min-height: 10vh;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-item {
    min-width: 20px;
    max-width: 100px;
    text-decoration: none;
    color: var(--firstColour);
    font-family: var(--secondFont);
    font-size: 13px;
    margin: 0 2.5% 0;
}

.header__nav-item:nth-child(5) {
    padding: 10px 15px;
    border: 3px solid var(--firstColour);
    border-radius: 50px;
}

/* Presentation */
.presentation {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container * {
    margin: 20px 0 20px 100px;
}

.container__subtext {
    font-family: var(--secondFont);
}

.container__title {
    font-size: 50px;
    font-family: var(--firstFont);
}

.container__text{ 
    font-size: 20px;
    width: 50%;
    font-family: var(--secondFont);
}

.presentation__img {
    margin-right: 100px;
    border: 7px solid var(--secondColour);
    border-radius: 50px;
    object-fit: cover;
}

figure figcaption {
    font-family: var(--secondFont);
    width: 300px;
}

/* Steps */
.steps {
    width: 100%;
    height: 60vh;
    background-color: var(--seventhColour);
}

.steps__title {
    display: flex;
    justify-content: center;
    font-family: var(--firstFont);
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.steps__articles {
    display: flex;
    justify-content: space-around;
}

.steps__article {
    width: 20%;
    margin-top: 70px;
    background-color: var(--sixthColour);
    padding: 40px 20px;
    border-radius: 20px;
    font-family: var(--secondFont);
    font-size: 20px;
}

.steps__article-title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}

.steps__article-title ion-icon {
    color: var(--ninthColour);
}

/* Footer */

.footer {
    width: 100%;
    height: 40vh;
}

.footer-container {
    background-color: var(--fifthColour);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__content .logo {
    width: 90%;
    object-fit: cover;
}

.footer__content-text {
    color: var(--firstColour);
    font-family: var(--secondFont);
    width: 500px;
    line-height: 45px;
    font-weight: 500;
    font-size: 40px;
}

.footer-image {
    object-fit: cover;
    width: 30%;
}

.footer-nav {
    background-color: var(--secondColour);
    font-family: var(--secondFont);
    color: var(--firstColour);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.footer-nav__text {
    margin: 0 30px 0;
}

.footer__nav-item {
    color: var(--firstColour);
    text-decoration: none;
    margin: 0 30px 0;
}

/* Animations */

a:hover {
    text-decoration: underline;
}

.logo:hover {
    transform: scale(1.05);
}

.header__nav-item:nth-child(5):hover {
    background-color: var(--firstColour);
    color: var(--secondColour);
    text-decoration: none;
}

/* Tablet Adjust*/

@media (min-width: 992px) and (max-width: 1199px) {
    .steps__title {
        font-size: 25px;
    }

    .steps__article-text {
        font-size: 15px;
    }

    ion-icon {
        display: none;
    }

    .footer__content-text {
        font-size: 20px;
        line-height: 25px;
    }

    .footer__nav-item, .footer-nav__text {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        margin: 15vh 0 0 0;
    }

    .header {
        height: 15vh;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-item {
        font-size: 10px;
    }

    .steps__article-title {
        font-size: 20px;
    }

    .steps__article-text {
        font-size: 10px;
    }

    ion-icon {
        display: none;
    }

    .footer__content-text {
        font-size: 15px;
        line-height: 25px;
    }

    .footer-nav {
        height: 10vh;
    }

    .footer__nav-item, .footer-nav__text {
        font-size: 10px;
    }
}

/* Smartphone Adjust*/

@media (max-width: 767px) {
    body {
        margin: 15vh 0 0 0;
    }

    .header {
        height: 15vh;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-item {
        font-size: 15px;
    }

    .header__nav-item:nth-child(2), .header__nav-item:nth-child(3), .header__nav-item:nth-child(4), .header__nav-item:nth-child(5) {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .container__subtext {
        font-size: 10px;
    }

    .container__title {
        font-size: 30px;
    }

    .container__text {
        font-size: 15px;
    }

    .presentation__img {
        width: 200px;
    }

    figcaption {
        display: none;
    }

    .steps {
        height: 100vh;
    }

    .steps__article {
        width: 30%;
    }

    .steps__article-title {
        font-size: 20px;
    }

    .steps__articles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .steps__article-text {
        font-size: 7px;
    }

    ion-icon {
        display: none;
    }

    .footer__content-text {
        display: none;
    }

    .footer-container {
        display: none;
    }

    .footer-nav {
        height: 12vh;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__nav-item, .footer-nav__text {
        margin: 0 10px 0;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    body {
        margin: 15vh 0 0 0;
    }

    .header {
        height: 15vh;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__nav-item {
        font-size: 15px;
    }

    .header__nav-item:nth-child(2), .header__nav-item:nth-child(3), .header__nav-item:nth-child(4), .header__nav-item:nth-child(5) {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .footer__content-text {
        display: none;
    }

    .footer-container {
        display: none;
    }

    .footer-nav {
        height: 12vh;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer__nav-item, .footer-nav__text {
        margin: 0 10px 0;
        font-size: 12px;
    }

}