/* Presentation */
.presentation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
}

.container * {
    margin: 2vh 0 2vh 8vw;
}

.container__subtext {
    font-family: var(--secondFont);
    color: var(--secondColour);
    font-size: 1vw;
}

.container__title {
    font-size: 3vw;
    font-family: var(--firstFont);
    color: var(--secondColour);
}

.container__text{ 
    font-size: 1.3vw;
    width: 50%;
    font-family: var(--secondFont);
    color: var(--secondColour);
}

.presentation__img {
    margin-right: 10vw;
    border: 4px solid var(--secondColour);
    border-radius: 3vw;
    object-fit: cover;
    width: 30vw;
}

.presentation__figure figcaption {
    font-family: var(--secondFont);
    width: 80%;
    color: var(--secondColour);
    font-size: 1vw;
}

/* Steps */
.steps {
    background-color: var(--seventhColour);
    width: 100%;
    height: auto;
}

.steps__title {
    font-family: var(--firstFont);
    font-weight: bold;
    font-size: 3.5vw;
    text-align: center;
    color: var(--eighthColour);
    display: flex;
    justify-content: center;
    position: relative;
    top: 5vh;
    margin: 10vh;
}

.steps__articles {
    display: flex;
    justify-content: space-around;
}

.steps__article {
    width: 15%;
    height: auto;
    background-color: var(--firstColour);
    border: 3px solid var(--tenthColour);
    padding: 3vw;
    border-radius: 20px;
    transition: box-shadow 1000ms;
    display: flex;
    flex-direction: column;
    margin: 0 0 5vh;
}

.steps__article-title {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-bottom: 1vh;
    font-size: 1.8vw;
    font-family: var(--firstFont);
    font-weight: bold;
}

.steps__article-text {
    font-family: var(--secondFont);
    color: var(--fourthColor);
    margin: 2vh 0 0;
    font-size: 0.9vw;
    line-height: 1.8vw;
}

.steps__article-title ion-icon {
    color: var(--ninthColour);
}

/* Animations */
.steps__article:hover {
    box-shadow: 0 5px 10px var(--secondColour);
}

/* Width Adjust*/

@media (max-width: 1199px) {
    /* Nothing */
}

@media (max-width: 991px) {   
    .container__title {
        width: 50%;
    }

    .steps__article-title {
        font-size: 2vw;
        margin-bottom: 0.8vh;
    }

    .steps__article-text {
        font-size: 1.1vw;
    }
}

@media (max-width: 767px) {
    .container__title {
        width: 50%;
    }

    .steps__article-title {
        font-size: 2.1vw;
        margin-bottom: 0.5vh;
    }

    .steps__article-text {
        font-size: 1.3vw;
    }
}

@media (max-width: 480px) {
    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .container__subtext {
        font-size: 2.5vw;
    }

    .container__title {
        font-size: 6vw;
        width: 60%;
    }

    .container__text {
        font-size: 3.5vw;
        width: 60%;
    }

    .presentation__figure figcaption {
        font-size: 3vw;
    }

    .steps__title {
        font-size: 7vw;
    }

    .steps__articles {
        flex-direction: column;
        align-items: center;
    }

    .steps__article {
        width: 50%;
        border-radius: 4vw;
    }

    .steps__article-title {
        font-size: 3.8vw;
        margin: 1vh 0 0;
    }

    .steps__article-text {
        font-size: 3vw;
        line-height: 3.1vw;
        margin: 1vh 0 0;
    }
}

/* Height Adjust */

@media (max-height: 614px) {
    .presentation {
        margin: 15vh 0 10vh 0;
    }
}

@media (max-height: 469px) {
    .presentation {
        margin: 20vh 0 15vh 0;
    }
}

@media (max-height: 253px) {
    .presentation {
        margin: 25vh 0 20vh 0;
    }
}