@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 7.5vh 0 0 0;
    background-color: var(--bgColour);
    font-family: var(--thirdFont);
    transition: 0.3s ease;
}

/* :root */

:root {
    --bgColour: #FFF;
    --firstColour: #FFF;
    --secondColour: #000;
    --thirdColour: rgba(196, 119, 102, 0.95);
    --fourthColor: rgba(0, 0, 0, 0.9);
    --fifthColour: #FA845F;
    --sixthColour: #FCD980;
    --seventhColour: #fff8e8;
    --eighthColour: #322B38;
    --ninthColour: #6f00b2;
    --tenthColour: #000;
    --transparent: rgba(0, 0, 0, 0.0);
    --firstFont: Balsamiq Sans, cursive;
    --secondFont: Poppins, sans-serif;
    --thirdFont: sans-serif;
    --changeTheme: url(/img/main-images/moon.png);
    --recipesBg: url(/img/recipes-images/recipes_bg.png);
}

/* Header - Nav*/

.header {
  display: flex;
  z-index: 2;
  justify-content: space-between;
  box-shadow: 0 1px 10px var(--fourthColor);
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5%;
  background-color: var(--thirdColour);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  position: relative;
  right: 6%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
}

.logo {
    width: 20vw;
    height: auto;
    object-fit: contain;
    transition: transform 700ms;
}

.list__item a{
  text-decoration: none;
  color: var(--firstColour);
  font-family: var(--secondFont);
  font-size: 0.9vw;
}

.list__item-img {
    width: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    opacity: 0.5;
}
