@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 7.5vh 0 0 0;
    background-color: var(--bgColour);
    font-family: var(--thirdFont);
}

/* :root */

:root {
    --bgColour: #FFF;
    --firstColour: #FFF;
    --secondColour: #000;
    --thirdColour: rgba(196, 119, 102, 0.95);
    --fourthColor: rgba(0, 0, 0, 0.9);
    --fifthColour: #FA845F;
    --sixthColour: #FCD980;
    --seventhColour: #fff8e8;
    --eighthColour: #322B38;
    --ninthColour: #6f00b2;
    --tenthColour: #000;
    --transparent: rgba(0, 0, 0, 0.0);
    --firstFont: Balsamiq Sans, cursive;
    --secondFont: Poppins, sans-serif;
    --thirdFont: sans-serif;
    --changeTheme: url(/img/main-images/moon.png);
    --recipesBg: url(/img/recipes-images/recipes_bg.png);
}

/* Header - Nav*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--thirdColour);
    width: 100%;
    height: 7.5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 1px 10px var(--fourthColor);
    box-sizing: border-box;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    width: 100%;
}

.logo {
    width: 20vw;
    height: auto;
    object-fit: contain;
    transition: transform 700ms;
}

.header__nav {
    width: 100%;
    height: 8vh;
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-item {
    max-width: 100px;
    text-decoration: none;
    color: var(--firstColour);
    font-family: var(--secondFont);
    font-size: 0.7vw;
    margin: 0 2.5% 0;
}

.header__nav-item-img {
    width: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.header__nav-item:nth-child(5) {
    padding: 1.2vh 2.2%;
    border: 3px solid var(--firstColour);
    border-radius: 50px;
}