body {
    background-image: var(--recipesBg);
    background-attachment: fixed;
    background-repeat: repeat;
}

/* Presentation */
.presentation {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10vh 10%;
}

.presentation img {
    width: 35vw;
    border-radius: 20px;
}

.presentation h1 {
    font-family: var(--firstFont);
    color: var(--secondColour);
    font-size: 5vw;
    text-align: end;
}

hr {
    border: 5px double var(--secondColour);
}

/* History */

.history {
    background-color: var(--seventhColour);
    width: 100%;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
}

.history p {
    width: 80%;
    text-align: center;
    color: var(--eighthColour);
    font-family: var(--firstFont);
    font-size: 2vw;
}

/* Ingredients */
.ingredients {
    background-color: var(--fifthColour);
    width: 100%;
    height: auto;
    padding: 3vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ingredients-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ingredients-title-text {
    font-family: var(--firstFont);
    font-weight: bold;
    font-size: 2.5vw;
    color: var(--firstColour);
    margin-left: 2vw; 
}

.ingredients-list *{
    font-family: var(--secondFont);
    font-size: 1.2vw;
    margin-left: 5vw;
    color: var(--firstColour);
    max-width: 50vw;
}

.ingredients-img {
    height: 25vw;
    object-fit: cover;
    border-radius: 20px;
}

/* Recipe */
.recipe {
    width: 100%;
    height: auto;
    padding: 3vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recipe-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 2vw; 
}

.recipe-title-text {
    font-family: var(--firstFont);
    font-weight: bold;
    font-size: 2.5vw;
    color: var(--secondColour);
}

.recipe-title-suggestions {
    font-family: var(--firstFont);
    font-weight: bold;
    font-size: 2.5vw;
    color: var(--secondColour);
    margin-left: 2vw;
}

.recipe-list *{
    font-family: var(--secondFont);
    font-size: 1.2vw;
    margin-left: 5vw;
    color: var(--secondColour);
    max-width: 50vw;
}

.recipe-img {
    height: 25vw;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 5vw; 
}

/* Icons */
.recipe-time, .recipe-servings {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    background-color: var(--fifthColour);
    color: var(--firstColour);
    font-family: var(--secondFont);
    font-weight: 500;    
    border-radius: 10px;
    padding: 0.5vh 0.9vw;
    margin: 0 5px 0;
    font-size: 1.2vw;
}

.recipe-servings {
    border: 2px solid var(--firstColour);
}

/* Width Adjust*/

@media (min-width: 992px) and (max-width: 1199px) {
    /* Nothing */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Nothing */
}

@media (max-width: 767px) {
    .history p {
        font-size: 2.7vw;
    }

    .ingredients {
        flex-direction: column;
        align-items: center;
    }

    .ingredients-title-text {
        font-size: 5vw;
    }

    .ingredients-list * {
        font-size: 2.7vw;
    }

    .recipe {
        flex-direction: column;
        align-items: center;
    }

    .recipe-title-text {
        font-size: 4vw;
    }

    .recipe-list * {
        font-size: 2.7vw;
    }

    .recipe-title-suggestions {
        font-size: 4vw;
    }

    .recipe-time, .recipe-servings {
        padding: 0.5vh 1.9vw;
        font-size: 2.2vw;
    }
}

@media (max-width: 480px) {
    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .presentation h1 {
        font-size: 10vw;
        text-align: center;
    }

    .history p {
        font-size: 4vw;
    }

    .ingredients {
        flex-direction: column;
        align-items: center;
    }

    .ingredients-title-text {
        font-size: 5vw;
    }

    .ingredients-list * {
        font-size: 3.5vw;
    }

    .recipe {
        flex-direction: column;
        align-items: center;
    }

    .recipe-title-text {
        font-size: 5vw;
    }

    .recipe-list * {
        font-size: 3.5vw;
    }

    .recipe-title-suggestions {
        font-size: 5vw;
    }

    .recipe-time, .recipe-servings {
        padding: 0.5vh 2.3vw;
        font-size: 2.7vw;
    }
}

/* Height Adjust */

@media (min-height: 470px) and (max-height: 614px) {
    /* Nothing */
}

@media (min-height: 254px) and (max-height: 469px) {
    /* Nothing */
}

@media (max-height: 253px) {
    /* Nothing */
}
