@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 100px 0 0 0;
}

header{
    background-color: #C47766;
    color: #FFF;
    width: 100%;
    height: 94px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header>*{
    display: inline-block;
}

a{
    text-decoration: none;
}

header a{
    color: #FFF;
    font-family: Poppins, sans-serif;
    position: relative;
    bottom: 40px;
    margin: 0px 30px;
}

.nav-logo{
    position: relative;
    top: 40px;
}

.separate-nav{
    width: 165px;
}

#contact-main{
    padding: 20px 24px;
    border: 2px solid white;
    border-radius: 41px;
}

.title_recipe{
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: black;
    font-family: Poppins, sans-serif;
}

#title_small{
    font-weight: 500;
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 40px;
}

#title_big{
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    position: relative;
    top: 100px;
    left: 40px;
}

#image_recipe{
    width: 100%;
    position: relative;
    bottom: 787px;
    z-index: -2;
}

#image_bg{
    width: 678.6px;
    height: 540px;
    position: relative;
    bottom: 241px;
    z-index: -1;
}

.presentation{
    background-color: rgba(253, 228, 166, 0.50);
    width: 100%;
    height: 552px;
    position: relative;
    bottom: 791px;
}

.presentation > p{
    font-family: Balsamiq Sans, cursive;
    color: black;
    font-size: 100px;
    line-height: 100px;
    width: 1150.56px;
    text-align: center;
    position: relative;
    left: 170px;
    top: 70px;
}

.presentation > p > span{
    font-weight: 600;
}

.ingredients{
    background-color: #FA845F;
    color: white;
    width: 100%;
    height: 757px;
    position: relative;
    bottom: 791px;
}

.title_ingredients{
    font-family: Balsamiq Sans, cursive;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 30px;
    left: 90px;
}

.ingredients > ul{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    top: 50px;
    left: 150px;
}

.ingredients > img{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    position: relative;
    bottom: 400px;
    left: 800px;
}

.preparation{
    font-family: Balsamiq Sans, cursive;
    color: black;
    position: relative;
    bottom: 780px;
}

.title_preparation{
    font-weight: bold;
    font-size: 60px;
    position: relative;
    left: 80px;
}

.text_preparation{
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    width: 1212px;
    position: relative;
    left: 180px;
}

.img_preparation{
    position: relative;
    left: 190px;
    top: 300px;
}

.presentation-footer{
    background-color: #FA845F;
    height: 397px;
}

footer{
    width: 100%;
}

footer nav{
    background-color: #282938;
    color: #fff;
    height: 92px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

footer a{
    color: #fff;
    position: relative;
    top: 16px;
    left: 800px;
    margin: 0px 20px;
}

footer nav > p{
    position: relative;
    top: 40px;
    left: 70px;
}

.footer-logo{
    width: 523.24px;
    position: relative;
    left: 150px;
    top: 60px;
}

.footer-text{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    width: 468px;
    position: relative;
    left: 250px;
    top: 90px;
}

.footer-image{
    position: relative;
    bottom: 150px;
    left: 800px;
    display: flex;
}