@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 90px 0 0 0;
}

header{
    background-color: #C47766;
    color: #FFF;
    width: 100%;
    height: 94px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header>*{
    display: inline-block;
}

a{
    text-decoration: none;
}

header a{
    color: #FFF;
    font-family: Poppins, sans-serif;
    position: relative;
    bottom: 40px;
    margin: 0px 20px;
}

.nav-logo{
    position: relative;
    top: 40px;
}

.separate-nav{
    width: 165px;
}

#contact-main{
    padding: 20px 24px;
    border: 2px solid white;
    border-radius: 41px;
}

.principal_bold{
    font-family: Balsamiq Sans, cursive;
    font-weight: bold;
    font-size: 48px;
    color: #282938;
    position: relative;
    top: 50px;
    left: 520px;
}

.principal_text{
    font-family: Balsamiq Sans, cursive;
    font-weight: 500;
    font-size: 40px;
    color: #000;
    position: relative;
    top: 100px;
    left: 200px;
}

#other_text{
    position: relative;
    top: -800px;
    left: 120px;
}

.food_text{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    color: black;
}

/* Recomendado */

.recomendado > .recomendado_img{
    position: relative;
    top: 120px;
    left: 200px;
}

.recomendado > .recomendado_bg{
    position: relative;
    top: 120px;
    right: 886px;
}

.recomendado > .food_text{
    position: relative;
    bottom: 300px;
    left: 236px;
}

.recomendado > .recomendado_arrow{
    position: relative;
    left: 346px;
}

/* Menú del mes */

.menu_del_mes > .menu_1 > .menu_1_img{
    position: relative;
    top: 150px;
    left: 202px;
}

.menu_del_mes > .menu_2 > .menu_2_img{
    position: relative;
    top: 23px;
    left: 202px;
}

.menu_del_mes > .menu_3 > .menu_3_img{
    position: relative;
    bottom: 103px;
    left: 202px;
}

.menu_del_mes > .menu_1 > #menu_1_text{
    position: relative;
    bottom: 28px;
    left: 802px;
    z-index: 1;
}

.menu_del_mes > .menu_2 > #menu_2_text{
    position: relative;
    bottom: 188px;
    left: 802px;
    z-index: 1;
}

.menu_del_mes > .menu_3 > #menu_3_text{
    position: relative;
    bottom: 298px;
    left: 802px;
    z-index: 1;
}

.menu_del_mes > .menu_1 > .platillo1_arrow{
    position: relative;
    bottom: 8px;
    left: 1052px;
    z-index: 1;
}

.menu_del_mes > .menu_2 > .platillo2_arrow{
    position: relative;
    bottom: 138px;
    left: 1052px;
    z-index: 1;
}

.menu_del_mes > .menu_3 > .platillo3_arrow{
    position: relative;
    bottom: 258px;
    left: 1052px;
    z-index: 1;
}

.menu_del_mes > .menu_bg{
    position: relative;
    bottom: 918px;
    left: 772px;
}

.menu_del_mes{
    width: 100%;
    height: 789px;
}

/* Otras recetas */

.otras_recetas{
    width: 100%;
    height: 984px;
}

#other_text{
    position: relative;
    top: 200px;
}

.otras_recetas > .otro_1 > .otro_1_img{
    position: relative;
    top: 280px;
    left: 120px;
}

.otras_recetas > .otro_1 > .otro_1_bg{
    position: relative;
    top: 280px;
    right: 375px;
}

.otras_recetas > .otro_2 > .otro_2_img{
    position: relative;
    bottom: 424px;
    left: 870px;
}

.otras_recetas > .otro_2 > .otro_2_bg{
    position: relative;
    bottom: 424px;
    left: 375px;
}

.otras_recetas > .otro_1 > #other_1_text{
    position: relative;
    bottom: 150px;
    left: 140px;
}

.otras_recetas > .otro_2 > #other_2_text{
    position: relative;
    bottom: 850px;
    left: 900px;
}

.otras_recetas > .otro_1 > .turron_de_dona_pepa_arrow{
    position: relative;
    top: 50px;
    left: 200px;
}

.otras_recetas > .otro_2 > .chicha_morada_arrow{
    position: relative;
    bottom: 615px;
    left: 950px;
}

/* Footer */

.presentation-footer{
    background-color: #FA845F;
    height: 397px;
}

footer{
    width: 100%;
}

footer nav{
    background-color: #282938;
    color: #fff;
    height: 92px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

footer a{
    color: #fff;
    position: relative;
    top: 16px;
    left: 800px;
    margin: 0px 20px;
}

footer nav > p{
    position: relative;
    top: 40px;
    left: 70px;
}

.footer-logo{
    width: 523.24px;
    position: relative;
    left: 150px;
    top: 60px;
}

.footer-text{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    width: 468px;
    position: relative;
    left: 250px;
    top: 90px;
}

.footer-image{
    position: relative;
    bottom: 150px;
    left: 800px;
    display: flex;
}

/* Animaciones */

.nav-logo:hover {
    transition: all 1s;
    transform: scale(1.03);
}

a:hover {
    text-decoration: underline;
}

#contact-main:hover {
    background: white;
    color: black;
}

.footer-image {
    animation: footer 3s ease-in-out 300ms infinite alternate backwards paused;    
}

.footer-image:hover {
    animation-play-state: running;
}

@keyframes footer {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
