@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 100px 0 0 0;
}

header{
    background-color: #C47766;
    color: #FFF;
    width: 100%;
    height: 94px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

header>*{
    display: inline-block;
}

a{
    text-decoration: none;
}

header a{
    color: #FFF;
    font-family: Poppins, sans-serif;
    position: relative;
    bottom: 40px;
    margin: 0px 30px;
}

.nav-logo{
    position: relative;
    top: 40px;
}

.separate-nav{
    width: 165px;
}

#contact-main{
    padding: 20px 24px;
    border: 2px solid white;
    border-radius: 41px;
}

.presentation{
    width: 100%;
    height: 555px;
}

.presentation_start{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.presentation_title{
    font-family: Balsamiq Sans, cursive;
    font-weight: bold;
    font-size: 54px;
    line-height: 74px;
    width: 427px;
}

.presentation_text{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 411px;
    opacity: 0.7;
}

.presentation_img{
    position: relative;
    bottom: 130px;
    left: 800px;
}

.all_text{
    position: relative;
    top: 150px;
    left: 130px;
}

.process{
    background-color: #FFF9E9;
    width: 100%;
    height: 468px;
}

.process_bold{
    font-family: Balsamiq Sans, cursive;
    font-weight: bold;
    font-size: 48px;
    color: #282938;
    position: relative;
    left: 450px;
    top: 20px;
}

.process_text{
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282938;
    opacity: 0.7;
    position: relative;
    top: 60px;
    left: 25px;
    width: 244.65px;
    line-height: 28px;
}

.process_text_bold{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #282938;
    position: relative;
    top: 50px;
    left: 25px;
}

.process img{
    width: 259.42px;
    height: 24px;
    position: relative;
    top: 30px;
    left: 15px;
}

.carta{
    width: 292.32px;
    height: 250px;
    background-color: #FDE4A6;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    left: 30px;
    margin: 0 30px;
}

#investigacion{
    position: relative;
    top: 63px;
}

#creacion{
    position: relative;
    top: 90px;
}

#publicacion{
    position: relative;
    top: 89px;
}

#redaccion{
    position: relative;
    top: 60px;
}

.presentation-footer{
    background-color: #FA845F;
    height: 397px;
}

footer{
    width: 100%
}

footer nav{
    background-color: #282938;
    color: #fff;
    height: 92px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

footer a{
    color: #fff;
    position: relative;
    top: 16px;
    left: 800px;
    margin: 0px 20px;
}

footer nav > p{
    position: relative;
    top: 40px;
    left: 70px;
}

.footer-logo{
    width: 523.24px;
    position: relative;
    left: 150px;
    top: 60px;
}

.footer-text{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    width: 468px;
    position: relative;
    left: 250px;
    top: 90px;
}

.footer-image{
    position: relative;
    bottom: 150px;
    left: 800px;
    display: flex;
}